---
import PlaylistPageTab from '@/layouts/PlaylistPageTab.astro';
import SnapshotCalendar from '@/components/vue/SnapshotCalendar.vue';

import { getPlaylistLayoutProps } from '@/utils/getPlaylistLayoutProps';

const playlistId = Astro.params.playlistId as string;
const layoutProps = await getPlaylistLayoutProps(Astro);
---

<PlaylistPageTab {...layoutProps}>
  <p class="text-lg mb-3">
    Click on a highlighted date to show a snapshot captured that day.
  </p>
  <SnapshotCalendar playlistId={playlistId} client:load />
</PlaylistPageTab>
