---
import PlaylistPageTab from '@/layouts/PlaylistPageTab.astro';
import { getPlaylistLayoutProps } from '@/utils/getPlaylistLayoutProps';

const layoutProps = await getPlaylistLayoutProps(Astro);
---

<PlaylistPageTab {...layoutProps}>
  <p class="text-lg">TODO: Implement snapshot calendar</p>
</PlaylistPageTab>
