---
import PlaylistPageTab from '@/layouts/PlaylistPageTab.astro';
import SnapshotCalendar from '@/components/vue/SnapshotCalendar.vue';

import { getPlaylistLayoutProps } from '@/utils/getPlaylistLayoutProps';

const layoutProps = await getPlaylistLayoutProps(Astro);
---

<PlaylistPageTab {...layoutProps}>
  <p class="text-lg">
    Click on a highlighted date to show a snapshot captured that day.
  </p>
  <SnapshotCalendar client:load />
</PlaylistPageTab>
