---
import CenteredContent from '../layouts/CenteredContent.astro';

const tagline =
  'Browse past versions of thousands of Spotify playlists saved over time';
---

<CenteredContent title="404" description={tagline}>
  <span class="md:text-4xl text-3xl text-center">
    This page doesn't exist (yet)
  </span>
</CenteredContent>
