---
import Layout from '../layouts/Layout.astro';

const tagline =
  'Browse past versions of thousands of Spotify playlists saved over time';
---

<Layout title="404" description={tagline}>
  <div
    class="p-5 w-full h-full text-center flex flex-col md:gap-7 gap-5 justify-center items-center"
  >
    <span class="md:text-4xl text-3xl text-center">
      This page doesn't exist (yet)
    </span>
  </div>
</Layout>
