---
import CenteredContent from '../layouts/CenteredContent.astro';
import PlaylistSearchInput from '../components/vue/PlaylistSearchInput.vue';

const tagline =
  'Browse past versions of thousands of Spotify playlists saved over time';
---

<CenteredContent title="Home" description={tagline}>
  <h1 class="font-bold md:text-5xl text-4xl text-center">
    Spotify Playlist Archive
  </h1>
  <div>
    <p class="mt-2 mb-6">{tagline}</p>
    <PlaylistSearchInput client:load />
  </div>
</CenteredContent>
