---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
  <div class="w-full h-full flex justify-center items-center">
    <h1 class="p-4 font-bold text-5xl text-center">Spotify Playlist Archive</h1>
  </div>
</Layout>
